@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);
  
 :root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

  .dark-mode {
    background-color: black;
    color: white;
  }
  .topnav {
    overflow: hidden;
    background-color:none;
    }
 
  .topnav a {
  float: top;
  display: wihte;
  color: #e6dbdb;
  text-align: center;
  text-decoration: none;
  }

  .topnav a:hover {
    background-color: wheat;
    color: teal;
  }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size:  1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #777;
  }
  .dark-mode {
    background-color: black;
    color: white;
  }
  
.title1 {
    text-align: center;
    line-height: 1.25cm;
    color: teal;
    }

.title2 {
  text-align: left;
  line-height: 1cm;
  color: teal;
}

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
/*Back to the top vers. 2 */
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: teal;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: #DDF;
  color: #000;
}




/* Styles for the content section */

.content {
  width: 77%;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}
@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #button {
    margin: 30px;
  }
}
.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}
.content h3 {
  font-style: italic;
  color: #96a2a7;
}


.field-name-field-visual-title-field-type--string-field_item {
  box-sizing: inherit;
  text-align: center;
  text-transform: uppercase;
font-family: ""Arial, Helvetica, sans-serif"
font-weight: 400;
line-height: 2.1rem;
letter-spacing: 1.5px;
font-style: normal;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.key-visual .field-name--field-visual-media, .key-visual .field-name--field-thanks-teaser-img{
  min-width: 100%;
min-height: 100%;
}
/* schrift-sylen*/
html {
  font-family: "myFont", "Bitstream Vera Serif", serif;
}
p {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}
h6 {
  text-rendering: optimizeSpeed;
  font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 5.4vw; 
    }
  

h3 {
   background-image:linear-gradient(90deg,blue,yellow,red,purple);
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
       }

  }
}

.help {cursor: help;}

 @media only screen and (min-width: 768px) {
  .class{
    width: 100%
  }
 }


div.a {
  text-align-last: left;
}

a {
color: grey;
}

h1 {
color: darkgrey;
}

h2{
color: grey;
}
h6{
color:darkcyan;
text-shadow: 3px 2px lightblue;

}

a {
text-decoration: none;
}

table {
border: dashed 2px  solid black;
background-color: grey;
}

@media screen and (min-width: 40em) {
article {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 20px;
}


@media screen and (min-width: 70em) {
}

tr {
border: solid 2px turquoise;
background-color: rgb(110, 132, 139);
}

td {
height: auto;
background-color: whitesmoke;
border: rgb(65, 73, 184) dotted;
font-style: italic;
}

.foo[style*="color: red"] { 
color: firebrick !important;
}

/* iframe*/

iframe {
  height: 792px;
  width: 1188px;
}

/*banner/calc()*/
.banner {
  position: absolute;
  left: 40px;
  width: calc(100% - 80px);
  border: solid black 1px;
  box-shadow: 1px 2px;
  background-color: yellow;
  padding: 6px;
  text-align: center;
  box-sizing: border-box;
}


/* mouse over link */
a:hover {
color: hotpink;
}
$
/* unvisited link */
a:link {
color: red;
}

/* visited link */
a:visited {
color: green;
}

img {
float: left;
}

div {
background-color: white;
border: none;
padding: none;
margin: none;   
} 

aside {
width: 200px;
height: 100px;
background-color: white;
position: relative;
animation-name: example;
animation-duration: 30s;
}

@keyframes example {
0%   {background-color:lightseagreen; left:0px; top:0px;}
25%  {background-color:lightgoldenrodyellow; left:200px; top:0px;}
50%  {background-color:lightskyblue; left:200px; top:200px;}
75%  {background-color:lightslategray; left:0px; top:200px;}
100% {background-color:lightgreen; left:0px; top:0px;}
}

div.gallery{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

a.hover {
  background-color: yellow;
}

.responsive {
  width: 100%;
  height: auto;
}

pos_right {
position: relative;
left: 200px;
}


@media screen and (min-width: 70em) {
main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 20px;
}

article {
  margin-bottom: 0;
}

footer {
  border-top: 1px solid #ccc;
  margin-top: 2em;
}


/* responiveness */
@media screen and (min-width: 40em) {
main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 20px;
}

nav ul {
    display: flex;
}


@media screen and (min-width: 70em) {
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
}


footer {
    border-top: 1px solid #ccc;
    margin-top: 2em;
}

/* For desktop: */
@media only screen and (min-width: 768px) {}
{width: 100%}

/* For tablets: */
@media only screen and (min-width: 600px) {}
{width: 100%}

/* For mobile phones: */
[class*="col-"]{
width: 100%}


text {
position: relative;
width: 400px;
height: 200px;
}

body {
font-family: Arial;
padding: 10px;
background: #f1f1f1;
}

.dark-mode {
  background-color: black;
  color: white;
}
.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: grey;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/*Overflow*/
div.ex1 {
  background-color: whitesmoke;
  width: 1188px;
  height: 100px;
  overflow: auto;

/*neu 10.5*/
{
  box-sizing: border-box;
}
.shopping-cart {
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  Cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  background: url(&quot;delete-icn.svg&quot;) no-repeat center;
}
 
.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  background: url('twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}
.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}


.image {
  margin-right: 50px;
}
 
Let’s add some basic style to  product name and description.
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
/* BIS HIER +=:% SHOP CART*/

h5 {
 text-shadow: 2px 2px rgb(103, 158, 115);
 overflow: visible;
 
 , display, transform, 
}
}

li a hover:not(.active){
  color: white;
  background-color: #4CAF50;
}

.img1 {
  width: 100%;
  position: relative;
  height: 200px;
}

.navigator {
  background: none !important;
}

/*NEU 10.5 tabbled img gallary*/


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
  object-fit: scale-down;
 }

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

p.test2 {
  writing-mode: vertical-rl;
}

span.test2 {
  writing-mode: vertical-rl; 
}


body {
background: #fff;
padding: 0;
margin: 0;
font-family: Helvetica, Arial, sans-serif;
word-wrap:break-word;
}

h1{color:white}
a{text-decoration: none; color: black; border: 0;}

div #spinner{
position: absolute;
height: 430px;
width: 700px;
margin: 245px 0px 0px 34px;
padding: 0px;
overflow: hidden;
z-index: 100;
text-align: center;
}

.main{
width: 768px;
height: 1004px;
margin: 0 auto;
padding: 0;
}

.countries-top{
position: absolute;
width: 650px;
height: 140px;
margin: 50px 0px 0px 66px; 
}

.countries-bottom{
position: absolute;
width: 650px;
height: 140px;
margin: 755px 0px 0px 60px;
z-index: 1000;
}

.country{
width: 120px;
height: 140px;
float: left;
overflow: visible;
}

.country-bottom{
font-family: Helvetica;
font-size: 9pt;
line-height: 11.2pt;
width: 140px;
height: 80px;
padding-top: 10px;
color: #ddd;
overflow:visible;
}

.country-top{
width: 120px;
height: 50px;
color: white;
font-size: 30px;
line-height: 26px;
font-weight: bold;
}

.country-top.pierce{
position: relative;
width: 34px;
height: 55px;
float: left;
margin-right: 4px;
}
.country-top.text{
font-family: Helvetica;
width: 25px;
height: 25px;
position: absolute;
padding: 0;
margin: 0;
top: 14px;
left: 0.25em;
z-index: 100;

}
.country-top.top{
width: 35px;
height: 25px;
background: rgb(0,172,236);
margin-bottom: 1px;
}
.country-top.bottom{
width: 35px;
height: 25px;
background: rgb(0,172,236);
}


.divider{
float: left;
width: 11px;
height: 150px;
}

.shadow{
position: absolute;
top: 730px;
left: 175px;
width: 250px;
height: 250px;
margin: 0 auto;
-webkit-border-radius: 125px;
background-color: rgba(0,0,0,0.2);
-webkit-transform:rotate3d(1, -0.6, 1, 90deg);
z-index: 10;
}

.contents{
position: absolute;
top: 70px;
left: 66px;
width: 160px;
height: 27px;
background:url(images/contents.png) no-repeat;
background-size: 100%;
}


 /* The grid: Four equal columns that floats next to each other */
 .column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: teal;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


/* Darkmode versuch nr 2*/
:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}



:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
}



[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}


body {
    background-color: var(--bg-color);
    color: var(--font-color);
  }

h1 {
    color: var(--secondary-color);

  }

a {
    color: var(--primary-color);

    

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}
input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode {
  background-color: black;
  color: white;
}














